<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_description" params="prefix camera_name=zedm camera_model=zedm">
        <!-- Properties -->
        <xacro:if value="${prefix != ''}">
        <xacro:property name="prefix_" value="${prefix}_"/>
        </xacro:if>
        <xacro:if value="${prefix == ''}">
        <xacro:property name="prefix_" value=""/>
        </xacro:if>

        <xacro:property name="wheel_radius" value="0.08" />
        <xacro:property name="base_footprint_z_offset" value="0.0295" />

        <!-- Materials/Colors -->
        <material name="yellow">
        <color rgba="1 1 0 1"/>
        </material>

        <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
        </material>

        <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
        </material>

        <material name="red">
        <color rgba="1 0 0 1"/>
        </material>
    </xacro:macro>
</robot>